<!-- Line 15, linking long url and short url to website-->
<!-- Line 21 user input updated long url-->
<!-- Line 22 Update button, type submit-->
<!-- Line 26 redirects to /urls/new, Line 27 redirects to /urls-->

<!DOCTYPE html>
  <html lang="en">
  <% include ./partials/_head %>
  <body>

    <% include ./partials/_header %>

    <h2>The full URL and its short form:</h2>
    <div class="loneText">
      <a href = '<%= longURL[shortURL] %>'><%= longURL[shortURL] %></a> &rarr; <a href = '<%= longURL[shortURL] %>'><%= shortURL %></a>
    </div>
    </br></br>
    <form method="POST" action="/<%= shortURL%>/update">
      <label>Update your URL:</label>
      </br>
      <input type="text" name="updatedLongURL" placeholder="http://">
      <input class="button" type="submit" value="Update">
    </form>

    </br></br></br>
    <div class="loneText"><a href="http://localhost:8080/urls/new">Shorten a URL here!</a></div>
    <p><a href="http://localhost:8080/urls"><div class="loneText">View all your shortened URL's here!</div></a></p>
  </body>
</html>
