<!DOCTYPE html>
  <html lang="en">
  <% include ./partials/_head %>
  <body>

  <% include ./partials/_header %>

    <h2>URLs and their shortened forms:</h2>

    <table border="1" cellpadding="5" cellspacing="5" style="text-align:center">
      <tr>
        <th>Full URL</th>
        <th>Shortened URL</th>
        <th>Edit</th>
      </tr>
      <% for (let randCode in urls) { %>
      <tr>
        <td><%= urls[randCode] %></td>
        <td><a href='<%= urls[randCode] %>'>http://localhost:8080/u/<%= randCode %></a></td>
        <td><form action="/urls/<%= randCode %>">
              <input class="button" type="submit" value="Update">
            </form>
            <form method="POST" action="/urls/<%= randCode %>/delete">
              <input class="button" type="submit" value="Delete">
            </form>
        </td>
      </tr>
      <% } %>
    </table>
    </br>
    <div class="loneText"><a href="http://localhost:8080/urls/new">Shorten a URL here!</a></div>

  </body>
</html>
